<h2>Add a Comment</h2>
<%= form_with model: [@user, @post, @comment], class: "form" do |f| %>
  <%= f.text_area :text,
  placeholder: "Write a comment...", 
  required: true,
  class: "input-comment" %>
  <%= f.submit "Comment", class: "submit" %>
<% end %>
