<%= render @user %>

<div class="user_bio_container">
  <h2>Bio</h2>
  <p class="bio"><%= @user.bio%></p>
</div>

<div class="user_posts">
  <h2>Posts</h2>
  <% @user.last_3_posts.each do |post| %>
    <%= render post %>
  <%end%>

  <div class="button_container">
    <button class="button_class">
      <%= link_to "See all posts", user_posts_path(@user), {:class => "link_class2"} %>
    </button>
  </div>
</div>
