<%= render @user %>

<% @posts.each do |post| %>
  <%= render post %>
  <%= link_to "See more", user_post_path(@user.id, post.id), class:"post_title" %> 

  <div class="comments">
    <% post.last_5_comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>

<% end %>

<button class="button">Pagination</button>
